.CardListing{
    margin: 0 150px;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardListing_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}